.card{
    height: 400px;
    width: 400px;
    display:inline-flex;
    background-color:lightgray;
    border-radius: 15px;
    margin: 20px;


}
.h1{
    display: flex;
    padding: 30px;
    height:200px;
}
.para{
    padding:20px;
    overflow:hidden;

}